body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(135deg, #021b33, #12577b);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.terms {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px #12577B;
}

.terms h2 {
    color: #021B33;
    border-bottom: 2px solid #021B33;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    background: linear-gradient(135deg, #021b33, #12577b);
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}

